<!doctype html>
<html lang="en" ng-app="todomvc" data-framework="firebase">
	<head>
		<meta charset="utf-8">
		<title>Firebase &amp; AngularJS todo app</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style rel='stylesheet' href='fireBasestyle.css'>
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<div class='container' ng-controller="TodoCtrl">
			<section class='row'>
				<header>
					<h1 class='text-center'>What do you have to do?</h1>
					<span><strong>{{totalScores}}</strong> scores in the DB</span><br />
                    <input ng-model="newScore" >
                    <button ng-click="addScore()" >Add Score!</button>
                    <button ng-click="catEasy()" >Easy</button> <button ng-click="catMed()" > Medium</button>  <button ng-click="catDiff()" > Difficult</button>
                 
                    <br />Max: {{ max }}
                    
					
				</header>

					
					<h3>All Scores</h3>
					<p>Double-click to edit a todo</p>
					<div class="list-group">
						<div ng-repeat="score in scores" class="list-group-item" >
							<div class="view" >
								

								<label>{{score.name}}<br />{{score.score}}<br /></label>
                                
                                

								<button class='btn btn-danger pull-right' ng-click="removeScore(score)">X</button>
							</div>

						</div>
					</div>
					
				
			</section>
		</div>

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
