<!DOCTYPE html>
<html ng-app>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="angular.js"></script>
       <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script> -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>        
  
       
    function createMinefield(HEIGHT, LENGTH) {

        var minefield = {};
        minefield.rows = [];

        for(var i = 0; i < HEIGHT; i++) {
            var row = {};
            row.spots = [];


            for(var j = 0; j < LENGTH; j++) {
                var spot = {};
                randBoolean = Math.random() >= 0.5;
                spot.isCovered = randBoolean;
                spot.x = j;
                spot.y = i;

                row.spots.push(spot);

            }

            minefield.rows.push(row);
        }
        minefield.rows[1].spots[0].isCovered = false;
        minefield.rows[0].spots[1].isCovered = false;
        return minefield;
    }

    function getSpot(minefield, row, column) {
    return minefield.rows[column].spots[row];
}      

    function MinesweeperController($scope) {

        
        $scope.coveredImage = "covered.png";
        $scope.emptyImage = "empty.png";
        $scope.squareSize = 30;

        $scope.HEIGHT = 3;
        $scope.LENGTH = 3;
        $scope.clicks = 0;
        // toggle controls grid selector visibility
        $scope.difficultyToggle = true;
        $scope.welcomeToggle = false;
        $scope.newGameToggle = true;
        $scope.whiteSpaceToggle = false;
        $scope.menuToggle = true;

        $scope.gridToggle = false;
        $scope.instructionButtonText = "Get Started";
        $scope.gameActive = false;
        $scope.minefieldClass = "minefieldSmallTd";
        
        $scope.difficultyButton = function(length, height, squareSize) {
            
            
            $scope.HEIGHT = height;
            $scope.LENGTH = length;
            $scope.minefield = createMinefield(length, height);
            $scope.clicks = 0;
            $scope.difficultyToggle = true;
            $scope.newGameToggle = false;
            $scope.whiteSpaceToggle = ($scope.whiteSpaceToggle) ? false : true;
            $scope.squareSize = squareSize;
            $scope.gridToggle = false;
            $scope.gameActive = true;
            $scope.size = length;
            $scope.gridStyle = "width: {{ ($scope.HEIGHT)*100 }}";
            if (length === 3) {
                $scope.minefieldClass = "minefieldSmallTd";
            }
            else if (length === 5) {
                $scope.minefieldClass = "minefieldMediumTd";
            }
            else if (length === 7) {
                $scope.minefieldClass = "minefieldDifficultTd";
            }
            else if (length === 10) {
                $scope.minefieldClass = "minefieldHecticTd";
            }
    }
    
        
    $scope.getStartedButton = function() {
        
        $scope.welcomeToggle = true;
        
        // if game is not currently happening
        if (!$scope.gameActive) {
            $scope.difficultyToggle = false;            
        }
        
        else {
        
        $scope.whiteSpaceToggle = false;
        $scope.gridToggle = false;
        
        $scope.difficultyToggle = true;
        }
        //$scope.setLayout();
    }
    
    $scope.menuButton = function() {
        $scope.menuToggle = ($scope.menuToggle) ? false : true;
        
    }
    
    $scope.redScheme = function() {
        $scope.menuButton(); 
        $scope.coveredImage = "redCovered.png";
        $scope.emptyImage = "redEmpty.png";    
    }  
   
    $scope.setLayout = function() {
        $scope.whiteSpaceToggle = true;
        
        // if there is not a current game
        if (!$scope.gameActive) {
            $scope.difficultyToggle = false;
            $scope.gridToggle = true;
            $scope.newGameToggle = true;
        }
        // if a game is currently running
        else {
            $scope.difficultyToggle = false;
            $scope.gridToggle = false;  
            
            $scope.newGameToggle = false;
        }
    }
  
    $scope.instructionButton = function() {
        
        $scope.menuToggle = ($scope.menuToggle) ? false : true;
       
        $scope.welcomeToggle = false;
        
        if ($scope.gameActive) {
            $scope.gridToggle = true;
            $scope.instructionButtonText = "Return to Game";
            $scope.whiteSpaceToggle = false;
        }
        else {
            $scope.difficultyToggle = true;
            $scope.whiteSpaceToggle = false;
            $scope.instructionButtonText = "Get Started";
        }
    }
    
    $scope.greenScheme = function() {
        $scope.menuButton(); 
        $scope.coveredImage = "greenCovered.png";
        $scope.emptyImage = "greenEmpty.png";        
    }
    $scope.blueScheme = function() {
        $scope.menuButton(); 
        $scope.coveredImage = "covered.png";
        $scope.emptyImage = "empty.png";        
    }
    
    $scope.newGame = function() {
        /*
        $scope.difficultyToggle = false;
        $scope.newGameToggle = true;
        $scope.winner = "";
        $scope.minefield = null;
        $scope.whiteSpaceToggle = ($scope.whiteSpaceToggle) ? false : true; */
        $scope.menuToggle = true;
        $scope.gameActive = false;
        $scope.setLayout();
    }
   
    $scope.doSouth = function(x,y) {
        $scope.south = getSpot($scope.minefield, x, (y+1));
        $scope.south.isCovered = ($scope.south.isCovered) ? false : true;
    }
    $scope.doEast = function(x,y) {
        $scope.east = getSpot($scope.minefield, (x+1), y);
        $scope.east.isCovered = ($scope.east.isCovered) ? false: true;
    }
    $scope.doNorth = function(x,y) {
        $scope.north = getSpot($scope.minefield, x, (y-1));
        $scope.north.isCovered = ($scope.north.isCovered) ? false : true;
    }
    $scope.doWest = function(x,y) {
        $scope.west = getSpot($scope.minefield, (x-1), y);
        $scope.west.isCovered = ($scope.west.isCovered) ? false : true;
    }
    
    $scope.hasWon = function() {
       
        allActive = true;
        allDeactive = true;
     
        for (var i = 0; i < $scope.HEIGHT; i++) {
            for (var j = 0; j < $scope.LENGTH; j++) {
                thisSpot = getSpot($scope.minefield, j, i);
                if (thisSpot.isCovered) { 
                    allDeactive = false;
                } else if (!thisSpot.isCovered) {
                    allActive = false;
                }
            }
        }
        if (allDeactive || allActive) {
            
          
            $scope.winner = "WINNER!";
        }
        else { 
            $scope.winner = "";
        }
    }
    $scope.flip = function(x,y) {
        
        $scope.clicks++;
        $scope.tester = (x + "," + y);
        
        // TOP LEFT
        if (x === 0 && y === 0) {
            $scope.doEast(x,y);
            $scope.doSouth(x,y);
         
        }
        
        // TOP RIGHT
        else if (x === $scope.LENGTH-1 && y === 0) {
            $scope.doSouth(x,y);
            $scope.doWest(x,y);
            
        }
       
        // BOTTOM LEFT
        else if (x === 0 && y === $scope.HEIGHT-1) {
            $scope.doNorth(x,y);
            $scope.doEast(x,y);
        }
        
        // BOTTOM RIGHT
        else if (x === $scope.LENGTH-1 && y === $scope.HEIGHT-1) {
            $scope.doNorth(x,y);
            $scope.doWest(x,y);
        }
        
        // TOP WALL
        else if (y === 0 && x > 0 && x < $scope.LENGTH-1) {
            $scope.doSouth(x,y);
            $scope.doEast(x,y);
            $scope.doWest(x,y);
        }
        
        // BOTTOM WALL
        else if (y === $scope.HEIGHT-1 && x > 0 && x < $scope.LENGTH-1) {
            $scope.doNorth(x,y);
            $scope.doEast(x,y);
            $scope.doWest(x,y);
        }
        
        // RIGHT WALL
        else if (x === $scope.LENGTH-1 && y > 0 && y < $scope.HEIGHT-1) {
            $scope.doNorth(x,y);
            $scope.doSouth(x,y);
            $scope.doWest(x,y);
        }
        // LEFT WALL
        else if (x === 0 && y > 0 && y < $scope.HEIGHT-1) {
            $scope.doNorth(x,y);
            $scope.doSouth(x,y);
            $scope.doEast(x,y);
            
        }
        else {
            $scope.doNorth(x,y);
            $scope.doEast(x,y);
            $scope.doSouth(x,y);
            $scope.doWest(x,y); 
        }
        
        // reverse selected spot
        $scope.spot = getSpot($scope.minefield, x,y);
        $scope.spot.isCovered = ($scope.spot.isCovered) ? false : true;
        // check if the gris is in a winning state
        $scope.hasWon();
        
    };
}    

    </script>
        
    </head>
    
    <body>
        
        <div id="main" ng-controller="MinesweeperController">
            
            <button class="openMenu" ng-click="menuButton()" ><img src="cog.png" height=30 width=30/></button>
            
            <div id="menu" ng-hide="menuToggle">
                
            <h2>Colour Scheme</h2>

            <button class="redButton" ng-click="redScheme()"></button>
            <button class="blueButton" ng-click="blueScheme()"></button>
            <button class="greenButton" ng-click="greenScheme()"></button>
            <br /><br /><br />
            <button class="instructionButton" ng-click="instructionButton()"><h2>Instructions</h2></button>
            <br /><br />
            <button class="instructionButton" ng-click="newGame()"><h2>New Game</h2></button>

            <br /><br />                   
            </div>           
            
            <img src="headerImage.png" align="right"/>
            
            <div class="whiteSpace" ng-hide="whiteSpaceToggle" > </div>
           
            <div class="welcome" ng-hide="welcomeToggle">
                <img src="splashImage.png" class="instructionImage"><br />
                <div class="whiteSpace" ng-hide="whiteSpaceToggle" > </div>
                <button class="instructionButton" ng-click="getStartedButton()"><h2>{{ instructionButtonText }}</h2>        </button>
            </div>
            
            <div id="menuBodyCover" ng-hide="menuToggle"></div>
            <div class="whiteSpace" ng-hide="difficultyToggle" > </div>
            <table class="difficultyGrid"><tr><td>
                <button class="difficultyButton" style="top: 70px;" ng-click="difficultyButton(3,3,117)"  ng-hide="difficultyToggle"><h2>easy</h2></button></td>
                <td>
                    <button class="difficultyButton" style="top: 70px;" ng-click="difficultyButton(5,5,70)" ng-hide="difficultyToggle" align="right"><h2>medium</h2></button></td>
                </tr>
                <tr><td>
                    <button class="difficultyButton" style="top: 70px;" ng-click="difficultyButton(7,7,50)" ng-hide="difficultyToggle"><h2>difficult</h2></button></td>
                    <td>
                        <button class="difficultyButton" style="top: 70px;" ng-click="difficultyButton(10,10,35)" ng-hide="difficultyToggle"><h2>what are <br />you thinking</h2></button></td></tr>
            </table>       
            
            <table class="minefield" ng-hide="gridToggle">
                <tr ng-repeat="row in minefield.rows">
                    <td class="{{ minefieldClass }}" ng-repeat="spot in row.spots" ng-click="flip(spot.x, spot.y)">
                        <img class="gridTile" ng-if="spot.isCovered" src="{{ coveredImage }}" >
                        <img class="gridTile" ng-if="!spot.isCovered" src="{{ emptyImage }}" >
                    </td>
                </tr>
            </table><br /><br />
            
        
            <h3 ng-if="isWinMessageVisible">Winner winner!</h3>
            <h3 ng-if="hasLostMessageVisible">You Lost :(</h3>

            <button class="clickButton" ng-hide="newGameToggle"><h2>Clicks: {{ clicks }}</h2></button>
        
            <br /><br />
            <h1> {{ winner }} </h1>          
            
           
        </div>
    </body>
</html>
