@media only screen and (max-device-width: 750px)  {
  
  body {
    background-color: floralwhite !important;
  }
  #main {
       width: 95% !important;
       background-color: floralwhite !important;
        padding: 10px 5px 10px 5px !important;
  }
  
  #menu {
    position: fixed !important;
    border-radius: 0px 0px 10px 0px !important;
  }
  
  .openMenu {
    position: fixed !important;
    border-radius: 0px 0px 10px 0px !important;
  }
}

body {
    background-color:dodgerblue;
    position: relative;
    height: 100%;
    }  

#menu {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 0px;
    min-width: 240px;
    width: 20%;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    border: 2px black;
    min-height: 60%;
}

.welcome {
   background-color: floralwhite;
    padding: 20px 20px 20px 20px;
    position: relative;
    border: 0;
  
    height: 70%;
    min-height: 200px;
   
    font-family: sans-serif;
    z-index: 0;       
    
}

.instructionImage {
    width: 100%;
    position: relative;
    
}
.header {
    font-size: 200%;
    text-align: right; 
    position: relative;
}

#menu.ng-hide {
    transition: all linear 5s;
}

#menuBodyCover {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    background-color: darkblue;
    position: fixed;
    opacity: 0.8;
    border: 0;
    left: 0;
    top: 0;
    bottom: 0;        
    }
        
#main {
    background-color: floralwhite;
    padding: 20px 20px 20px 20px;
    border: 0;
   
    min-height: 500px;
    width: 40%;
    font-family: sans-serif;
    border-radius: 30px 10px 10px 10px;
    } 
        
.difficultyGrid {
    width: 100%;    
    }
      
.difficultyGrid td {
    width: 50%;       
    }

.minefield {
    z-index: 0;
    border: 5px solid slategrey;
    line-height: 0;
    border-spacing: 0;
    width: 100%;
    }

.minefieldSmallTd  {
    padding: 0;
    width: 33.33%;
    padding-bottom: 33.33%;
    position: relative;
    }


.minefieldMediumTd {
    padding: 0;
    width: 20%;
    padding-bottom: 20%;
    position: relative;
    }


.minefieldDifficultTd {
    padding: 0;
    width: 14.28%;
    padding-bottom: 14.28%;
    position: relative;
    }

.minefieldHecticTd {
    padding: 0;
    width: 10%;
    padding-bottom: 10%;
    position: relative;
    }
.gridTile {
    width: 100%;
    height: 100%;
    position: absolute;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.clickButton {
    background-color: powderblue;
    z-index: 4;
    margin: 0px auto;
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    height: 55px;
    }

.difficultyButton { 
    background-color: powderblue;          
    padding: 3px;
    width: 100%;
    border-radius: 5px;
    margin: 0px auto;
    min-height: 130px;
    }

.difficultyButton:hover {
    background-color: skyblue; 
    }

.newGameButton { 
    background-color:powderblue;          
    padding: 3px 10px 3px 10px;           
    border-radius: 5px;
    margin: 0px auto;
    height: 55px;
    }

.newGameButton:hover {
    background-color: skyblue; 
    }

.instructionButton { 
    background-color: powderblue;          
    padding: 3px;
    width: 100%;
    border-radius: 5px;
    margin: 0px auto;
    min-height: 55px;
    }

.instructionButton:hover {
    background-color: skyblue; 
    }

.whiteSpace {
    width: 100%;
    height: 70px;   
    }

.redButton  {
    background-color: red;
    padding: 3px;
    width: 40px;
    border-radius: 5px;
    margin: 0px auto;
    min-height: 35px;
    }
    .redButton:hover {
    background-color: firebrick;
    }
.blueButton  {
    background-color: deepskyblue;
    padding: 3px;
    width: 40px;
    border-radius: 5px;
    margin: 0px auto;
    min-height: 35px;
    }
    .blueButton:hover {
    background-color: darkblue;
    }
.greenButton  {
    background-color: lightgreen;
    padding: 3px;
    width: 40px;
    border-radius: 5px;
    margin: 0px auto;
    min-height: 35px;
    }
    .greenButton:hover {
    background-color: forestgreen;
    }

    .openMenu {
    z-index: 3;
    background-color:dodgerblue;
    left: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    border: 0px solid;
    border-radius: 10px 0px 10px 0px;
    }
            
    h2  {
        font-size: 120%;
        color: darkblue;
    }

    button {
        border: 0px solid; 
    }

